#image {
    width: 500px;
    height: 500px;
}
.imageHome{
    width: 100%;
    height: 200px;
}

#backdrop {
    background: linear-gradient(217deg, rgba(235, 211, 211, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(217, 211, 92, 0.8), rgba(243, 246, 243, 0) 70.71%);

    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 2;
    left: 0;
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
}



