.backGround {
    min-height: 100vh;
    height: 100%;

    background-color: #fff3df;
}

.topPart {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.productImg {
    width: 350px;
}

.info {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 3rem;
    font-weight: bolder;
}
.seller {
    text-align: left;
    cursor: pointer;
    font-size: 1.5rem;
}

.inputBid {
    text-align: right;
}
.right {
    text-align: right;
    font-size: 1rem;
    font-weight: bolder;
}

.bottomPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.leftBottom {
    width: 100%;
}
