.backGround {
    min-height: 100vh;
    height: 100%;

    background-color: #fff3df;
}

.topPart {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.productImg {
    width: 350px;
}

.info {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 3rem;
    font-weight: bolder;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

.bottomPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.leftBottom {
    width: 100%;
}



/* Buttons */

.cartButton {
    height: 40px;
    width: 250px;
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    border: none;
}