#Sort_Filter {
    display: flex;
    justify-content: center;
    align-items: center;
}
#homebackground{
    background: linear-gradient(217deg, rgba(245, 245, 245, 1), rgba(255, 0, 0, 0) 100%),
          linear-gradient(127deg, rgba(239, 234, 141, 1), rgba(243, 246, 243, 0) 100%);
          background-repeat: no-repeat;
          background-size: cover;
  
  }
  .center2 {
    display: block;
    height: 100vh;
    justify-content: space-between;
  }