.secondaryBar {
    height: 50px;
    width: 100%;
    background-color: #4b3932;
    color: aliceblue;
    font-size: 1.10rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}