.background {
    background: #fff3df;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.secondaryBar {
    width: 100%;
    flex-wrap: wrap;
    background-color: #4b3932;
    color: aliceblue;
    font-size: 1.10rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    flex:1;
}