#screen {
    display: flex;
    justify-content: flex-start;
    gap: 10 px;
    flex-direction: column;
}
#display {
    display: flex;
    justify-content: center;
    gap: 10 px;
    flex-direction: row;
}
#bodyProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10 px;
    flex-direction: column;
    width: 600px;
    height: 100 vh;
}

#display_image {
    width: 500px;
    height: 500px;
    margin-top: 50px;
    border: 4px solid black;
    background-position: center;
    background-size: cover;
}

#productDes {
    height: 150px;
    width: 400px;
    align-items: center;
    flex-wrap: wrap;
}

.react-datepicker__input-container input {
    display: block;
    width: 250px;
}

#Label {
    font-size:larger;
    font-weight: bolder;
}

#button-container-div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#addProductButton {
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-weight: bolder;
    background-color: #D7BDE2;
}

#roundedCorner {
    border-radius: 15px;
    background: #EDEDED;
    padding: 10px;
    margin: 5px;
}