#section_background {
    background-size: cover;
    min-height: 100vh;
    background-color: #fff3df;
}

#page {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#topicline {
    width: 550px;
}
#messagetext {
    height: 200px;
    width: 550px;
    align-items: center;
    flex-wrap: wrap;
}
#wordCountSection {
    width: 550px;
    display: flex;
    justify-content: right;
    align-items:flex-end;
    flex-direction: row;
}

#roundedCorner {
    background-color: white;
    border-radius: 15px;
    border-radius: 15px;
    border: solid;
    padding: 10px;
    margin: 20px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}